body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#celula {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.celula {
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: letraAnim 6s;
  animation-fill-mode: forwards;
}

.certo {
    animation: fadeInText 5s;
    background-color: green;
    color: white;
    border-color: white;
    
}

.existe {
    animation: fadeInText 5s;
    background-color: yellow;
    color: white;
    border-color: white;
}

.ausente {
    animation: fadeInText 5s;
    background-color: grey;
    color: white;
    border-color:white;
    animation: animacao 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-celula {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.enter-key-celula {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    border-radius: 10px;
}
@keyframes animacao {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  @keyframes letraAnim {
    0%{
        color: #e61b1b; }
    25% {
        color: grey; }
    50%{
        color: yellow;
    }
    75%{
        color: green;
    }
    100%{
        color: black
    }

}

@media only screen and (max-width: 600px) {
    .keyboard-row {
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
    }
  }
